<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% include 'common/head.html' %}
   </head>

    <body>
        <h1>Xóa nhân viên theo ID</h1>
        <form method="post" action="/deleteEmployee" enctype="multipart/form-data">
             {% csrf_token %} 
             <label for="id" style="width:150px;">Chọn mã nhân viên cần xóa:</label>
             <input name="id" id='id' type="text" style="margin-left:50px" />
             <br/>

             <button type="submit" class="btn btn-primary">DELETE</button>
        </form>
    </body>
</html>